<h2>Atoms</h2>
<section>
  <article>
    <h4>atom-input-text</h4>
    <input type="text" class="atom-input-text">
  </article>
</section>
<section>
  <article>
    <h4>atom-input-login</h4>
    <input type="text" class="atom-input-login">
  </article>
</section>
<section>
  <article>
    <h4>atom-button</h4>
    <button class="atom-button">Button</button>
  </article>
</section>

<h2>Organisms</h2>
<section>
  <article>
    <h4>organism-social-login-buttons</h4>
    <button class="atom-button-login-facebook">Facebook</button>
    <button class="atom-button-login-twitter">Twitter</button>
    <button class="atom-button-login-plus">Plus</button>
  </article>
</section>
<section>
  <article>
    <h4>organism-social-login-buttons COLAPSED</h4>
    <div class='organism-social-login-buttons-wrapper'>
      <button class="atom atom-button-login-facebook">Facebook</button>
      <button class="atom atom-button-login-twitter">Twitter</button>
      <button class="atom atom-button-login-plus">Plus</button>
    </div>
  </article>
</section>
