<nav role=”navigation”>
  <ul class="menu" role="menubar">
    <li role="presentation">
      <a role="menuitem" href="#/atoms">Atoms</a>
    </li>
    <li role="presentation">
      <a role="menuitem" href="#/molecules">Molecules</a>
    </li>
    <li role="presentation">
      <a role="menuitem" href="#/organisms">Organisms</a>
    </li>
    <li role="presentation">
      <a role="menuitem" href="#/templates">Templates</a>
    </li>
    <li role="presentation">
      <a role="menuitem" href="#/pages">Pages</a>
    </li>
  </ul>
  
</nav>
