<h2>Molecules</h2>
<section>
  <article>
    <h4>organism-social-login-buttons</h4>
    <button class="atom-button-login-facebook">Facebook</button>
    <button class="atom-button-login-twitter">Twitter</button>
    <button class="atom-button-login-plus">Plus</button>
  </article>
</section>
<section>
  <article>
    <h4>organism-social-login-buttons COLAPSED</h4>
    <div class='organism-social-login-buttons-wrapper'>
      <button class="atom atom-button-login-facebook">Facebook</button>
      <button class="atom atom-button-login-twitter">Twitter</button>
      <button class="atom atom-button-login-plus">Plus</button>
    </div>
  </article>
</section>